 <div class="kiosk-header-top">
                <div class="container">
                    <div class="row">
                        <!-- Header Top left Start -->                        
                        <div class="col-lg-6 col-md-12 d-center">
                            <div class="kiosk-header-top-left">
                                <i class="fa fa-phone"></i>Vộc support: (077) 333 1421
                            </div>                        
                        </div>
                        <!-- Header Top Right Start -->                                       
                        <div class="col-lg-6 col-md-12">
                            <div class="kiosk-header-top-right">
                                <div class="search-box-view">
                                    <form action="#">
                                        <input type="text" class="email" placeholder="Search Your Product" name="product">
                                        <button type="submit" class="submit"></button>
                                    </form>
                                </div>
                                <!-- Header-list-menu End -->
                            </div>
                        </div>
                        <!-- Header Top Right End -->
                    </div>
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Top End -->
            <!-- Kiosk Header Bottom Start -->
            <div class="kiosk-header-bottom header-sticky">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-2 col-sm-5 col-5">
                            <div class="logo">
                                <a href="home.html"><img src="https://i.ibb.co/y8c2Cvw/unnamed.png" width="50px"></a>
                            </div>
                        </div>
                        <!-- Primary Vertical-Menu End -->
                        <!-- Search Box Start -->
                       <div class="col-xl-6 col-lg-7 d-none d-lg-block">
                            <div class="kiosk-middle-menu pull-right">
                                <nav>
                                    <ul class="kiosk-middle-menu-list">
                                        <li><a routerLink="/home" routerLinkActive="active">Home</a> <span class="sr-only">(current)</span>
                                    
                                        </li>
                                                                             
                                        <li><a routerLink="/shop" routerLinkActive="active">Shop</a><span class="sr-only">(current)</span>
                                            <!-- Home Version Dropdown Start -->
                                            <ul class="kiosk-dropdown">
                                                <li><a routerLink="/shop" routerLinkActive="active">Shop</a><span class="sr-only">(current)</span>
                                                <li><a routerLink="/cart" routerLinkActive="active">Wishlist Page</a></li><span class="sr-only">(current)</span>
                                                <li><a routerLink="/checkout" routerLinkActive="active">Checkout Page</a></li><span class="sr-only">(current)</span>
                                               
                                                <li><a href="product.html">PProduct details Page</a></li>
                                            </ul>
                                            <!-- Home Version Dropdown End -->
                                        </li>                                        
                                        
                                        <li><a href="/">News</a>
                                         
                                            <!-- Home Version Dropdown End -->
                                        </li>
                                        <li><a routerLink="/about" routerLinkActive="active">About</a></li>  
                                        <!-- <li><a href="contact.html">contact us</a></li> 
                                                                                -->
                                          <li><a routerLink="/login" routerLinkActive="active">Login</a><span class="sr-only">(current)</span>
                                      
                                    </ul>
                                </nav>
                            </div>
                        </div>
<div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="index-1.html">Home</a></li>
                        <li class="active"><a href="checkout.html">Checkout</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
          <div class="kiosk-checkout-area ptb-70">
            <div class="container">
                <form action="#">                
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="kiosk-checkbox-form">
                                <h3>Billing Details</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>First Name <span class="required">*</span></label>
                                            <input type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list mb-30">
                                            <label>Last Name <span class="required">*</span></label>
                                            <input type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="checkout-form-list mb-30">
                                            <label>Company Name</label>
                                            <input type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list mb-30">
                                            <label>Email Address <span class="required">*</span></label>
                                            <input type="email" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list mb-30">
                                            <label>Phone  <span class="required">*</span></label>
                                            <input type="text" placeholder="phone">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="country-select mb-30">
                                            <label>Country <span class="required">*</span></label>
                                            <select>
                                                <option value="volvo">Bangladesh</option>
                                                <option value="saab">German</option>
                                                <option value="mercedes">USA</option>
                                                <option value="audi">Norway</option>
                                                <option value="audi2">Panama</option>
                                                <option value="audi3">Brazil</option>
                                                <option value="audi4">Colombia</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="checkout-form-list mb-30">
                                            <label>Address <span class="required">*</span></label>
                                            <input type="text" placeholder="Street address">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list mb-30">
                                            <label>City <span class="required">*</span></label>
                                            <input type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list mb-30">
                                            <label>Zipcode <span class="required">*</span></label>
                                            <input type="text" placeholder="Postcode / Zipcode">
                                        </div>
                                    </div>
                                </div>
                                <div class="different-address">
                                    <div class="ship-different-title">
                                        <h3>
                                            <label>Ship to a different address?</label>
                                            <input id="ship-box" type="checkbox">
                                        </h3>
                                    </div>
                                    <div id="ship-box-info">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="checkout-form-list">
                                                    <label>First Name <span class="required">*</span></label>
                                                    <input type="text" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-form-list mb-30">
                                                    <label>Last Name <span class="required">*</span></label>
                                                    <input type="text" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-form-list mb-30">
                                                    <label>Company Name</label>
                                                    <input type="text" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-form-list mb-30">
                                                    <label>Email Address <span class="required">*</span></label>
                                                    <input type="email" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-form-list mb-30">
                                                    <label>Phone  <span class="required">*</span></label>
                                                    <input type="text" placeholder="phone">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="country-select mb-30">
                                                    <label>Country <span class="required">*</span></label>
                                                    <select>
                                                        <option value="volvo">Bangladesh</option>
                                                        <option value="saab">German</option>
                                                        <option value="mercedes">USA</option>
                                                        <option value="audi">Norway</option>
                                                        <option value="audi2">Panama</option>
                                                        <option value="audi3">Brazil</option>
                                                        <option value="audi4">Colombia</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-form-list mb-30">
                                                    <label>Address <span class="required">*</span></label>
                                                    <input type="text" placeholder="Street address">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-form-list mb-30">
                                                    <label>City <span class="required">*</span></label>
                                                    <input type="text" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-form-list mb-30">
                                                    <label>Zipcode <span class="required">*</span></label>
                                                    <input type="text" placeholder="Postcode / Zipcode">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-notes">
                                        <div class="checkout-form-list">
                                            <label>Notes</label>
                                            <textarea id="checkout-mess" cols="30" rows="10" placeholder="Notes text"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="kiosk-checkbox-form">
                                <h3>Your order</h3>
                            </div>
                            <div class="kiosk-order">
                                <div class="kiosk-order-table table-responsive">
                                    <table>
                                        <tbody>
                                            <tr class="cart_item">
                                                <td class="product-name">
                                                    Standard Shoes
                                                </td>
                                                <td class="product-total">
                                                    <span class="amount">$453.00</span>
                                                </td>
                                            </tr>
                                            <tr class="cart_item">
                                                <td class="product-name">
                                                    Shipping
                                                </td>
                                                <td class="product-total">
                                                    <span class="amount">$10.00</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr class="cart-subtotal">
                                                <th>Cart Subtotal</th>
                                                <td class="product-total">
                                                    <span class="amount">$546.00</span>
                                                </td>
                                            </tr>
                                            <tr class="order-total">
                                                <th>Order Total</th>
                                                <td class="product-total">
                                                    <strong><span class="amount">$564.00</span></strong>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="kiosk-payment">
                                    <div class="payment-accordion">
                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <h4 class="panel-title">
                                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Direct Bank Transfer
                                                    </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse  in show" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                        <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingTwo">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Cheque Payment
                                                    </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="panel-body">
                                                        <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingThree">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    PayPal
                                                    </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="panel-body">
                                                        <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="kiosk-payment-btn">
                                            <input type="submit" value="Place order">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </form>   
            </div>
        </div>
          <footer class="black-bg">
            <!-- Footer Top Start -->
            <div class="footer-top ptb-60">
                <div class="container">           
                    <div class="row">
                        <!-- Single Footer Start -->
                        <div class="col-lg-4  col-md-4 col-sm-6">
                            <div class="single-footer">
                                <h3>About us</h3>
                                <div class="footer-content">
                                    <p>Lorem ipsum dolor sit, amet cons ectetur adipis icing elit. Nobis expedita dolorem minus eaque cupid itate repud iandae mollitia veritatis sim ilique, cumque arch itecto ectetur ectetur.</p>
                               
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                        <!-- Single Footer Start -->
                        <div class="col-lg-2  col-md-2 col-sm-6 footer-full">
                            <div class="single-footer">
                                <h3 class="footer-title">Quick Link</h3>
                                <div class="footer-content">
                                    <ul class="footer-list">
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Support</a></li>
                                        <li><a href="#">Shop page</a></li>
                                        <li><a href="#">Gallery</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                        <!-- Single Footer Start -->
                        <div class="col-lg-3 col-md-3  col-sm-6 footer-full">
                            <div class="single-footer">
                                <h3 class="footer-title">My Account</h3>
                                <div class="footer-content">
                                    <ul class="footer-list">
                                        <li><a href="account.html">Profile</a></li>
                                        <li><a href="#">Checkout</a></li>
                                        <li><a href="#">Login</a></li>
                                        <li><a href="#">Checkout</a></li>
                                        <li><a href="#">Contact</a></li>
                                        <li><a href="#">Registration</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                        <!-- Single Footer Start -->
                        <div class="col-lg-3 col-md-3 col-sm-6 footer-full">
                            <div class="single-footer margin-sm0">
                                <h3>Contact us</h3>
                                <div class="footer-content">
                                    <div class="kiosk-contact-address">
                                        <span><i class="fa fa-map-marker"></i>Lê Anh Tuấn</span>
                                        <span><i class="fa fa-envelope-o"></i>tuanlaph08659.gmail</span>
                                        <span><i class="fa fa-phone"></i>(077) 333 1421</span>
                                        <span><i class="fa fa-facebook"></i>leanhtuan2000ah.face</span>
                                        <span><i class="fa fa-youtube"></i>
LeAnhTuan FPoly HN.youtube</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Footer Top End -->
            <!-- Footer Bottom Start -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="footer-bottom-content">
                        <p class="copy-right-text">Copyright © <a href="#">kuncan</a> All Rights Reserved.</p>
                        <div class="kiosk-footer-social hidden-content">
                            <ul class="kiosk-footer-list">
                                <li><a href="#"><img src="https://i.imgur.com/CREDKPl.png" alt=""></a></li>
                                <li><a href="#"><img src="https://i.imgur.com/v7p0zbL.png" alt=""></a></li>
                                <li><a href="#"><img src="https://i.imgur.com/fN8Y8bF.png" alt=""></a></li>
                                <li><a href="#"><img src="https://i.imgur.com/Fy5mslu.png" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Container End -->
            </div>
            <!-- Footer Bottom End -->
        </footer>
        <!-- Footer End -->
                    </div>
                     </div>
                