

    <h4>Add new products</h4>
     <div class="kiosk-product-description fix">
    <label for=""></label>
    <input type="text" name="name" class="form-control"placeholder="Product Name" [(ngModel)]="product.name">
    <input type="text" name="price" class="form-control"placeholder="Price" [(ngModel)]="product.price">
    <input type="text" name="desc" class="form-control"placeholder="Desc" [(ngModel)]="product.desc">
 
    <input type="text" name="img" class="form-control"placeholder="Img" [(ngModel)]="product.img">

  <button type="submit" class="btn btn-primary" (click)="addProduct()">Add new</button>
     </div>


                   