<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
</head>
<div class="kiosk-header-top">
	<div class="container">
		<div class="row">
			<!-- Header Top left Start -->
			<div class="col-lg-6 col-md-12 d-center">
				<div class="kiosk-header-top-left">
					<i class="fa fa-phone"></i>Vộc support: (077) 333 1421
				</div>
			</div>
			<!-- Header Top Right Start -->
			<div class="col-lg-6 col-md-12">
				<div class="kiosk-header-top-right">
					<div class="search-box-view">
						<form action="#">
							<input type="text" class="email" placeholder="Search Your Product" name="product">
							<button type="submit" class="submit"></button>
						</form>
					</div>
					<!-- Header-list-menu End -->
				</div>
			</div>
			<!-- Header Top Right End -->
		</div>
	</div>
	<!-- Container End -->
</div>
<!-- Header Top End -->
<!-- Kiosk Header Bottom Start -->
<div class="kiosk-header-bottom header-sticky">
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-2 col-sm-5 col-5">
				<div class="logo">
					<a href="home.html"><img src="https://i.ibb.co/y8c2Cvw/unnamed.png" width="50px"></a>
				</div>
			</div>
			<!-- Primary Vertical-Menu End -->
			<!-- Search Box Start -->
			<div class="col-xl-6 col-lg-7 d-none d-lg-block">
				<div class="kiosk-middle-menu pull-right">
					<nav>
						<ul class="kiosk-middle-menu-list">
							<li><a routerLink="/home" routerLinkActive="active">Home</a>
								<span class="sr-only">(current)</span>

							</li>

							<li><a routerLink="/shop"
									routerLinkActive="active">Shop</a><span class="sr-only">(current)</span>
								<!-- Home Version Dropdown Start -->
								<ul class="kiosk-dropdown">
									<li><a routerLink="/shop"
											routerLinkActive="active">Shop</a><span class="sr-only">(current)</span>
									<li><a routerLink="/cart" routerLinkActive="active">Wishlist Page</a></li>
									<span class="sr-only">(current)</span>
									<li><a routerLink="/checkout" routerLinkActive="active">Checkout Page</a></li>
									<span class="sr-only">(current)</span>

								
								</ul>
								<!-- Home Version Dropdown End -->
							</li>

				<li><a href="/information">News</a>

								<!-- Home Version Dropdown End -->
							</li>
							<li><a routerLink="/about" routerLinkActive="active">About</a></li>
							<!-- <li><a href="contact.html">contact us</a></li> 
                                                                                -->
							<li><a routerLink="/login"
									routerLinkActive="active">Login</a><span class="sr-only">(current)</span>

						</ul>
					</nav>
				</div>
			</div>
			<div class="container">
				<div class="breadcrumb">
					<ul>
						<li><a href="index-1.html">Home</a></li>
						<li class="active"><a href="cart.html">Cart</a></li>
					</ul>
				</div>
			</div>
			<!-- Container End -->
		</div>
		<div class="kiosk-products-cart ptb-70 pb-sm-50">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<!-- Form Start -->
						<form action="#">
							<!-- Table Content Start -->
							<div class="table-content table-responsive">
								<table>
									<thead>
										<tr>
											<th class="kiosk-product-thumb">Image</th>
											<th class="product-name">Product</th>
											<th class="product-price">Price</th>
											<th class="product-quantity">Quantity</th>
											<th class="product-total">Total</th>
											<th class="kiosk-product-remove">Remove</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="kiosk-product-thumb">
												<a href="#"><img src="img\products\3.jpeg" alt="cart-image"></a>
											</td>
											<td class="product-name"><a href="#">Standard Shoes</a></td>
											<td class="product-price"><span class="amount">$232.00</span></td>
											<td class="product-quantity">
												<input value="1" type="number">
                                            </td>
											<td class="product-total text-center"><span class="amount">$232.00</span>
											</td>
											<td class="product-add-to-cart"><a href="#">X</a></td>
										</tr>
										<tr>
											<td class="kiosk-product-thumb">
												<a href="#"><img src="img\products\12.jpeg" alt="cart-image"></a>
											</td>
											<td class="product-name"><a href="#">Normal Shoes</a></td>
											<td class="product-price"><span class="amount">$233.00</span></td>
											<td class="product-quantity">
												<input value="1" type="number">
                                            </td>
											<td class="product-total text-center"><span class="amount">$232.00</span>
											</td>
											<td class="product-add-to-cart"><a href="#">X</a></td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- Table Content Start -->
						</form>
						<!-- Form End -->
					</div>
				</div>
				<!-- Row End -->
			</div>
		</div>
		<footer class="black-bg">
			<!-- Footer Top Start -->
			<div class="footer-top ptb-60">
				<div class="container">
					<div class="row">
						<!-- Single Footer Start -->
						<div class="col-lg-4  col-md-4 col-sm-6">
							<div class="single-footer">
								<h3>About us</h3>
								<div class="footer-content">
									<p>Lorem ipsum dolor sit, amet cons ectetur adipis icing elit. Nobis expedita
										dolorem minus eaque cupid itate repud iandae mollitia veritatis sim ilique,
										cumque arch itecto ectetur ectetur.</p>

								</div>
							</div>
						</div>
						<!-- Single Footer Start -->
						<!-- Single Footer Start -->
						<div class="col-lg-2  col-md-2 col-sm-6 footer-full">
							<div class="single-footer">
								<h3 class="footer-title">Quick Link</h3>
								<div class="footer-content">
									<ul class="footer-list">
										<li><a href="#">About Us</a></li>
										<li><a href="#">Contact Us</a></li>
										<li><a href="#">Blog</a></li>
										<li><a href="#">Support</a></li>
										<li><a href="#">Shop page</a></li>
										<li><a href="#">Gallery</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Single Footer Start -->
						<!-- Single Footer Start -->
						<div class="col-lg-3 col-md-3  col-sm-6 footer-full">
							<div class="single-footer">
								<h3 class="footer-title">My Account</h3>
								<div class="footer-content">
									<ul class="footer-list">
										<li><a href="account.html">Profile</a></li>
										<li><a href="#">Checkout</a></li>
										<li><a href="#">Login</a></li>
										<li><a href="#">Checkout</a></li>
										<li><a href="#">Contact</a></li>
										<li><a href="#">Registration</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Single Footer Start -->
						<!-- Single Footer Start -->
						<div class="col-lg-3 col-md-3 col-sm-6 footer-full">
							<div class="single-footer margin-sm0">
								<h3>Contact us</h3>
								<div class="footer-content">
									<div class="kiosk-contact-address">
										<span><i class="fa fa-map-marker"></i>Lê Anh Tuấn</span>
										<span><i class="fa fa-envelope-o"></i>tuanlaph08659.gmail</span>
										<span><i class="fa fa-phone"></i>(077) 333 1421</span>
										<span><i class="fa fa-facebook"></i>leanhtuan2000ah.face</span>
										<span><i class="fa fa-youtube"></i>
LeAnhTuan FPoly HN.youtube</span>
									</div>
								</div>
							</div>
						</div>
						<!-- Single Footer Start -->
					</div>
					<!-- Row End -->
				</div>
				<!-- Container End -->
			</div>
			<!-- Footer Top End -->
			<!-- Footer Bottom Start -->
			<div class="footer-bottom">
				<div class="container">
					<div class="footer-bottom-content">
						<p class="copy-right-text">Copyright © <a href="#">kuncan</a> All Rights Reserved.</p>
						<div class="kiosk-footer-social hidden-content">
							<ul class="kiosk-footer-list">
								<li><a href="#"><img src="https://i.imgur.com/CREDKPl.png" alt=""></a></li>
								<li><a href="#"><img src="https://i.imgur.com/v7p0zbL.png" alt=""></a></li>
								<li><a href="#"><img src="https://i.imgur.com/fN8Y8bF.png" alt=""></a></li>
								<li><a href="#"><img src="https://i.imgur.com/Fy5mslu.png" alt=""></a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Container End -->
			</div>
			<!-- Footer Bottom End -->
		</footer>
		<!-- Footer End -->
	</div>
</div>
</html>