 
            <!-- Kiosk Header Top Start -->
            <div class="kiosk-header-top">
                <div class="container">
                    <div class="row">
                        <!-- Header Top left Start -->                        
                        <div class="col-lg-6 col-md-12 d-center">
                            <div class="kiosk-header-top-left">
                                <i class="fa fa-phone"></i>Support free: (077) 333 1421
                            </div>                        
                        </div>
                        <!-- Header Top Right Start -->                                       
                        <div class="col-lg-6 col-md-12">
                            <div class="kiosk-header-top-right">
                                <div class="search-box-view">
                                    <form action="#">
                                        <input type="text" class="email" placeholder="Search Your Product" name="product">
                                        <button type="submit" class="submit"></button>
                                    </form>
                                </div>
                                <!-- Header-list-menu End -->
                            </div>
                        </div>
                        <!-- Header Top Right End -->
                    </div>
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Top End -->
            <!-- Kiosk Header Bottom Start -->
            <div class="kiosk-header-bottom header-sticky">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-2 col-sm-5 col-5">
                            <div class="logo">
                                <a href="home.html"><img src="https://dummyimage.com/75x50/000/fff"></a>
                            </div>
                        </div>
                        <!-- Primary Vertical-Menu End -->
                        <!-- Search Box Start -->
                        <div class="col-xl-6 col-lg-7 d-none d-lg-block">
                            <div class="kiosk-middle-menu pull-right">
                                <nav>
                                    <ul class="kiosk-middle-menu-list">
                                        <li><a routerLink="/home" routerLinkActive="active">Trang chủ</a> <span class="sr-only">(current)</span>
                                            <!-- Home Version Dropdown Start -->
                                            <!-- <ul class="kiosk-dropdown home-dropdown">
                                                <li><a href="index-1.html">Home Version 1</a></li>
                                                <li><a href="index-2.html">Home Version 2</a></li>
                                            </ul> -->
                                            <!-- Home Version Dropdown End -->
                                        </li>
                                                                             
                                        <li><a href="shop.html">shop</a>
                                            <!-- Home Version Dropdown Start -->
                                            <ul class="kiosk-dropdown">
                                                <li><a href="shop.html">shop</a></li>
                                                <li><a href="cart.html">Cart Page</a></li>
                                                <li><a href="checkout.html">Checkout Page</a></li>
                                                <li><a href="wishlist.html">Wishlist Page</a></li>
                                                <li><a href="product.html">product details Page</a></li>
                                            </ul>
                                            <!-- Home Version Dropdown End -->
                                        </li>                                        
                                        <li><a href="blog.html">Blog</a>
                                            <!-- Home Version Dropdown Start -->
                                            <ul class="kiosk-dropdown">
                                                <li><a href="blog.html">Blog Page</a></li>
                                                <li><a href="blog-details.html">Blog Details Page</a></li>
                                            </ul>
                                            <!-- Home Version Dropdown End -->
                                        </li>
                                        <li><a href="#">pages</a>
                                            <!-- Home Version Dropdown Start -->
                                            <ul class="kiosk-dropdown">
                                                <!-- <li><a href="contact.html">contact us</a></li>  -->
                                                <!-- <li><a href="about.html">about us</a></li>    -->
                                                <li><a href="login.html">Login Page</a></li>
                                                <li><a href="error.html">404 Page</a></li>
                                            </ul>
                                            <!-- Home Version Dropdown End -->
                                        </li>
                                        <li><a href="about.html">Giới Thiệu</a></li>  
                                        <!-- <li><a href="contact.html">contact us</a></li>                                         -->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Search Box End -->
                        <!-- Cartt Box Start -->
                      
      
        <!-- Header Area End -->
  <footer class="black-bg">
            <!-- Footer Top Start -->
            <div class="footer-top ptb-60">
                <div class="container">           
                    <div class="row">
                        <!-- Single Footer Start -->
                        <div class="col-lg-4  col-md-4 col-sm-6">
                            <div class="single-footer">
                                <h3>About us</h3>
                                <div class="footer-content">
                                    <p>Lorem ipsum dolor sit, amet cons ectetur adipis icing elit. Nobis expedita dolorem minus eaque cupid itate repud iandae mollitia veritatis sim ilique, cumque arch itecto ectetur ectetur.</p>
                                    <div class="kiosk-footer-social">
                                        <ul class="kiosk-footer-list footer-top-social">
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                        <!-- Single Footer Start -->
                        <div class="col-lg-2  col-md-2 col-sm-6 footer-full">
                            <div class="single-footer">
                                <h3 class="footer-title">Quick Link</h3>
                                <div class="footer-content">
                                    <ul class="footer-list">
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Support</a></li>
                                        <li><a href="#">Shop page</a></li>
                                        <li><a href="#">Gallery</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                        <!-- Single Footer Start -->
                        <div class="col-lg-3 col-md-3  col-sm-6 footer-full">
                            <div class="single-footer">
                                <h3 class="footer-title">My Account</h3>
                                <div class="footer-content">
                                    <ul class="footer-list">
                                        <li><a href="account.html">Profile</a></li>
                                        <li><a href="#">Checkout</a></li>
                                        <li><a href="#">Login</a></li>
                                        <li><a href="#">Checkout</a></li>
                                        <li><a href="#">Contact</a></li>
                                        <li><a href="#">Registration</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                        <!-- Single Footer Start -->
                        <div class="col-lg-3 col-md-3 col-sm-6 footer-full">
                            <div class="single-footer margin-sm0">
                                <h3>Contact us</h3>
                                <div class="footer-content">
                                    <div class="kiosk-contact-address">
                                        <span><i class="fa fa-map-marker"></i>Location</span>
                                        <span><i class="fa fa-envelope-o"></i>kiosk@gmail.com</span>
                                        <span><i class="fa fa-phone"></i>(232) 232 232</span>
                                        <span><i class="fa fa-facebook"></i>kiosk.facebook</span>
                                        <span><i class="fa fa-youtube"></i>kiosk.youtube</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Footer Top End -->
            <!-- Footer Bottom Start -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="footer-bottom-content">
                        <p class="copy-right-text">Copyright © <a href="#">themedream1</a> All Rights Reserved.</p>
                        <div class="kiosk-footer-social hidden-content">
                            <ul class="kiosk-footer-list">
                                <li><a href="#"><img src="img\footer\visa.png" alt=""></a></li>
                                <li><a href="#"><img src="img\footer\amarcan.png" alt=""></a></li>
                                <li><a href="#"><img src="img\footer\discover.png" alt=""></a></li>
                                <li><a href="#"><img src="img\footer\mastercard.png" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Container End -->
            </div>
            <!-- Footer Bottom End -->
        </footer>
        <!-- Footer End -->