<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">

   
</head>
<body>
<div id="heared">
    <img src="https://i.imgur.com/H0kM6bk.jpg"  width="1000px" height="250px" />
</div>

<div class="menu">
     <div class="col-xl-6 col-lg-7 d-none d-lg-block">
                            <div class="kiosk-middle-menu pull-right">
                                <nav>
                                    <ul class="kiosk-middle-menu-list">
                                      <li><a routerLink="/admin/dashboard" routerLinkActive="active">Admin Home</a><span class="sr-only">(current)</span>
                                        </li> 
                                        <li><a routerLink="./manager" routerLinkActive="active">Product Management</a> <span class="sr-only">(current)</span>
                                        </li>                                                                  
                                        <li><a routerLink="/" routerLinkActive="active">Service management</a><span class="sr-only">(current)</span>
                                        </li>                                        
                                                                                 
                                    </ul>
                                </nav>
                            </div>
                        </div>

</div>
<main> <router-outlet></router-outlet></main>

</body>
</html>

    
