<H1>Admin</H1>

                           <div class="col-xl-6 col-lg-7 d-none d-lg-block">
                            <div class="kiosk-middle-menu pull-right">
                                <nav>
                                    <ul class="kiosk-middle-menu-list">
                                      <li><a routerLink="/admin/dashboard" routerLinkActive="active">Trang chủ adminadmin</a><span class="sr-only">(current)</span>
                                        </li> 
                                        <li><a routerLink="./manager" routerLinkActive="active">Quản lýlý</a> <span class="sr-only">(current)</span>
                                    
                                        </li>
                                                                             
                                        <li><a routerLink="/shop" routerLinkActive="active">Danh sách sản phẩmphẩm</a><span class="sr-only">(current)</span>
                                        </li>                                        
                                         <li><a routerLink="/" routerLinkActive="active">Condition of products</a><span class="sr-only">(current)</span>
                                        </li> 
                                 
                                                                          
                                    </ul>
                                </nav>
                            </div>
                        </div>
<main> <router-outlet></router-outlet></main>