 <div class="kiosk-header-bottom header-sticky">
                <div class="container">
                    <div class="row">
                   
                        <!-- Primary Vertical-Menu End -->
                        <!-- Search Box Start -->
                        <div class="col-xl-6 col-lg-7 d-none d-lg-block">
                            <div class="kiosk-middle-menu pull-right">
                                <nav>
                                    <ul class="kiosk-middle-menu-list">
                                        <li><a routerLink="../manager" routerLinkActive="active">ManagerManager</a> <span class="sr-only">(current)</span>
                                            <!-- Home Version Dropdown Start -->
                                            <!-- <ul class="kiosk-dropdown home-dropdown">
                                                <li><a href="index-1.html">Home Version 1</a></li>
                                                <li><a href="index-2.html">Home Version 2</a></li>
                                            </ul> -->
                                            <!-- Home Version Dropdown End -->
                                        </li>
                                                                             
                                       
                                        
                                        <!-- <li><a href="contact.html">contact us</a></li>                                         -->
                                    </ul>
                                </nav>
                            </div>
                        </div>