<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
</head>
<div class="kiosk-header-top">
	<div class="container">
		<div class="row">
			<!-- Header Top left Start -->
			<div class="col-lg-6 col-md-12 d-center">
				<div class="kiosk-header-top-left">
					<i class="fa fa-phone"></i>Vộc support: (077) 333 1421
				</div>
			</div>
			<!-- Header Top Right Start -->
			<div class="col-lg-6 col-md-12">
				<div class="kiosk-header-top-right">
					<div class="search-box-view">
						<form action="#">
							<input type="text" class="email" placeholder="Search Your Product" name="product">
							<button type="submit" class="submit"></button>
						</form>
					</div>
					<!-- Header-list-menu End -->
				</div>
			</div>
			<!-- Header Top Right End -->
		</div>
	</div>
	<!-- Container End -->
</div>
<!-- Header Top End -->
<!-- Kiosk Header Bottom Start -->
<div class="kiosk-header-bottom header-sticky">
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-2 col-sm-5 col-5">
				<div class="logo">
					<a href="home.html"><img src="https://i.ibb.co/y8c2Cvw/unnamed.png" width="50px"></a>
				</div>
			</div>
			<!-- Primary Vertical-Menu End -->
			<!-- Search Box Start -->
			<div class="col-xl-6 col-lg-7 d-none d-lg-block">
				<div class="kiosk-middle-menu pull-right">
					<nav>
						<ul class="kiosk-middle-menu-list">
							<li><a routerLink="/home" routerLinkActive="active">Home</a>
								<span class="sr-only">(current)</span>

							</li>

							<li><a routerLink="/shop"
									routerLinkActive="active">Shop</a><span class="sr-only">(current)</span>
								<!-- Home Version Dropdown Start -->
								<ul class="kiosk-dropdown">
									<li><a routerLink="/shop"
											routerLinkActive="active">Shop</a><span class="sr-only">(current)</span>
									<li><a routerLink="/cart" routerLinkActive="active">Wishlist Page</a></li>
									<span class="sr-only">(current)</span>
									<li><a routerLink="/checkout" routerLinkActive="active">Checkout Page</a></li>
									<span class="sr-only">(current)</span>

									<li><a href="product.html">PProduct details Page</a></li>
								</ul>
								<!-- Home Version Dropdown End -->
							</li>

							<li><a href="/">News</a>

								<!-- Home Version Dropdown End -->
							</li>
							<li><a routerLink="/about" routerLinkActive="active">About</a></li>
							<!-- <li><a href="contact.html">contact us</a></li> 
                                                                                -->
							<li><a routerLink="/login"
									routerLinkActive="active">Login</a><span class="sr-only">(current)</span>

						</ul>
					</nav>
				</div>
			</div>


			<div class="container">
				<div class="breadcrumb">
					<ul>
						<li><a routerLink="/home" routerLinkActive="active">Home</a></li>
						<li class="active"><a routerLink="/shop" routerLinkActive="active">Shop</a></li>
					</ul>
				</div>
			</div>
			<!-- Container End -->
		</div>

		<!-- Grid & List View Start -->
		<div class="grid-list-top fix mb-10">
			<!-- Toolbar Short Area Start -->
			<div class="main-toolbar-sorter f-left">
				<div class="toolbar-sorter">
					<label>sort by</label>
					<select class="sorter" name="sorter">
                                        <option value="Position" selected="selected">position</option>
                                        <option value="Product Name">Heighest price</option>
                                        <option value="Price">Lowest Price</option>
                                    </select>
				</div>
			</div>
			<!-- Toolbar Short Area End -->

		</div>
		<!-- Grid & List View End -->
		<div class="main-categorie product-area">
			<!-- Grid & List Main Area End -->
			<div class="tab-content fix">
				<div id="grid-view" class="tab-pane active">
					<div class="row">
						<!-- Single Product Start -->
						<div class="col-lg-4 col-sm-6" *ngFor="let product of products">
							<div routerLink="/product/{{product.id}}">
								<!-- Product Image Start -->
								<div class="kiosk-product-img">
									<a routerLink="/product/{{product.id}}">
										<img class="first-img" [src]="product.img" alt="single-product">
										<img class="second-img" [src]="product.img" alt="single-product">
                                                    </a>
								</div>
								<!-- Product Image End -->
								<!-- Product Content Start -->
								<div class="kiosk-product-content">
									<p><span class="price">${{product.price}}</span></p>
									<h4><a routerLink="/product/edit/{{product.id}}">{{product.name}}</a></h4>
									<div class="kiosk-product-action">
										<div class="kiosk-action-content">
											<a routerLink="/product/{{product.id}}" data-toggle="tooltip"
												title="Product Details"><i class="fa fa-link"></i></a>
										</div>
									</div>
								</div>
								<!-- Product Content End -->
							</div>
						</div>
						<!-- Single Product End -->
						<!-- Single Product Start -->

						<!-- Single Product End -->
						<!-- Single Product Start -->

						<!-- Single Product End -->
						<!-- Single Product Start -->

						<!-- Single Product End -->
						<!-- Single Product Start -->

						<!-- Single Product End -->
						<!-- Single Product Start -->

						<!-- Single Product End -->
						<!-- Single Product Start -->

						<!-- Single Product End -->
						<!-- Single Product Start -->


						<!-- Single Product End -->
						<!-- Single Product Start -->

						<!-- Single Product End -->
						<!-- Single Product Start -->

						<!-- Single Product End -->
						<!-- Single Product Start -->

						<!-- Single Product End -->
						<!-- Single Product Start -->

						<!-- Single Product End -->

						<!-- #grid view End -->

					</div>
					<!-- #list view End -->
				</div>
				<!-- Grid & List Main Area End -->
			</div>
			<!--Breadcrumb and Page Show Start -->
			<div class="kiosk-pagination-box fix">
				<ul class="blog-pagination ">
					<li><a href="#">1</a></li>
					<li class="active"><a href="#">2</a></li>
					<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
				</ul>
				<div class="toolbar-sorter-footer">
					<label>show</label>
					<select class="sorter" name="sorter">
                                    <option value="Position" selected="selected">12</option>
                                    <option value="Product Name">15</option>
                                    <option value="Price">30</option>
                                </select>
					<span>per page</span>
				</div>
			</div>
			<!--Breadcrumb and Page Show End -->
		</div>

		<!-- product Categorie List End -->
		<div class="kiosk-newsletter-area ptb-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 mr-auto ml-auto">
						<div class="newsletter text-center">
							<div class="main-news-desc">
								<div class="news-desc">
									<h3>Sign Up To Newsletter</h3>
								</div>
							</div>
							<div class="kiosk-subscribe">
								<form action="#">
									<input class="subscribe" placeholder="Enter your email address" name="email" id="subscribe" type="text" w>
									<button type="submit" class="submit">subscribe</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Area End -->
		<footer class="black-bg">
			<!-- Footer Top Start -->
			<div class="footer-top ptb-60">
				<div class="container">
					<div class="row">
						<!-- Single Footer Start -->
						<div class="col-lg-4  col-md-4 col-sm-6">
							<div class="single-footer">
								<h3>About us</h3>
								<div class="footer-content">
									<p>Lorem ipsum dolor sit, amet cons ectetur adipis icing elit. Nobis expedita
										dolorem minus eaque cupid itate repud iandae mollitia veritatis sim ilique,
										cumque arch itecto ectetur ectetur.</p>

								</div>
							</div>
						</div>
						<!-- Single Footer Start -->
						<!-- Single Footer Start -->
						<div class="col-lg-2  col-md-2 col-sm-6 footer-full">
							<div class="single-footer">
								<h3 class="footer-title">Quick Link</h3>
								<div class="footer-content">
									<ul class="footer-list">
										<li><a href="#">About Us</a></li>
										<li><a href="#">Contact Us</a></li>
										<li><a href="#">Blog</a></li>
										<li><a href="#">Support</a></li>
										<li><a href="#">Shop page</a></li>
										<li><a href="#">Gallery</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Single Footer Start -->
						<!-- Single Footer Start -->
						<div class="col-lg-3 col-md-3  col-sm-6 footer-full">
							<div class="single-footer">
								<h3 class="footer-title">My Account</h3>
								<div class="footer-content">
									<ul class="footer-list">
										<li><a href="account.html">Profile</a></li>
										<li><a href="#">Checkout</a></li>
										<li><a href="#">Login</a></li>
										<li><a href="#">Checkout</a></li>
										<li><a href="#">Contact</a></li>
										<li><a href="#">Registration</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Single Footer Start -->
						<!-- Single Footer Start -->
						<div class="col-lg-3 col-md-3 col-sm-6 footer-full">
							<div class="single-footer margin-sm0">
								<h3>Contact us</h3>
								<div class="footer-content">
									<div class="kiosk-contact-address">
										<span><i class="fa fa-map-marker"></i>Lê Anh Tuấn</span>
										<span><i class="fa fa-envelope-o"></i>tuanlaph08659.gmail</span>
										<span><i class="fa fa-phone"></i>(077) 333 1421</span>
										<span><i class="fa fa-facebook"></i>leanhtuan2000ah.face</span>
										<span><i class="fa fa-youtube"></i>
LeAnhTuan FPoly HN.youtube</span>
									</div>
								</div>
							</div>
						</div>
						<!-- Single Footer Start -->
					</div>
					<!-- Row End -->
				</div>
				<!-- Container End -->
			</div>
			<!-- Footer Top End -->
			<!-- Footer Bottom Start -->
			<div class="footer-bottom">
				<div class="container">
					<div class="footer-bottom-content">
						<p class="copy-right-text">Copyright © <a href="#">kuncan</a> All Rights Reserved.</p>
						<div class="kiosk-footer-social hidden-content">
							<ul class="kiosk-footer-list">
								<li><a href="#"><img src="https://i.imgur.com/CREDKPl.png" alt=""></a></li>
								<li><a href="#"><img src="https://i.imgur.com/v7p0zbL.png" alt=""></a></li>
								<li><a href="#"><img src="https://i.imgur.com/fN8Y8bF.png" alt=""></a></li>
								<li><a href="#"><img src="https://i.imgur.com/Fy5mslu.png" alt=""></a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Container End -->
			</div>
			<!-- Footer Bottom End -->
		</footer>
		<!-- Footer End -->

	</div>
</div>
</html>