 <div class="slider-area kiosk-slider">
            <div class="slider-wrapper theme-default">
                <!-- Slider Background  Image Start-->
                <div id="slider" class="nivoSlider">
                    <a href="shop.html"> <img src="https://i.imgur.com/4ohyefQ.jpg" data-thumb="img/slider/1.jpg" alt="" title="#slider-1-caption1"></a>
                    
                </div>
               
                <!-- Slider Background  Image Start-->
                <div id="slider-1-caption1" class="nivo-html-caption nivo-caption">
                    <div class="text-content-wrapper">
                        <div class="container">
                            <div class="text-content">
                                <h4 class="title2 wow fadeInUp mb-16" data-wow-duration="2s" data-wow-delay="0s">Sale off 30%</h4>
                                <h1 class="title1 wow fadeInUp mb-16" data-wow-duration="2s" data-wow-delay="1s">New Collection 2018</h1>
                                <div class="banner-readmore wow fadeInUp mt-35" data-wow-duration="2s" data-wow-delay="2s">
                                    <a class="button slider-btn"  routerLink="/shop" routerLinkActive="active">Shop Now</a><span class="sr-only">(current) </span>                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
             
        <div class="kiosk-services ptb-70">
            <div class="container">
                <div class="row">
                    <!-- Single Service Start -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-service">
                            <div class="service-content">
                                <i class="fa fa-bus"></i>
                                <h3>Free Shipping</h3>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo blanditiis odio.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Service End -->
                    <!-- Single Service Start -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-service">
                            <div class="service-content">
                                <i class="fa fa-credit-card"></i>
                                <h3>MONEY BACK</h3>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo blanditiis odio.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Service End -->
                    <!-- Single Service Start -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-service">
                            <div class="service-content">
                                <i class="fa fa-phone"></i>
                                <h3>ONLINE SUPPORT</h3>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo blanditiis odio.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Service End -->
                    <!-- Single Service Start -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-service">
                              <div class="service-content">
                                <i class="fa fa-briefcase"></i>
                                <h3>BONUS PLUS</h3>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo blanditiis odio.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Service End -->
                </div>
            </div>
        </div>

        <!-- Product Area End --> 
        <!-- Product Area Start -->
        <div class="product-area ptb-70">
            <div class="container">
                <div class="row">
                    <div class="section-title col-lg-12">
                        <h2>Featured Products <i class="fa fa-shopping-cart"></i></h2>
                    </div>
                </div>
                <div class="row">
                    <!-- Single Product Start -->                    
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="kiosk-product-img">
                                <a href="product.html">
                                  
                                    <img class="first-img" src="https://i.imgur.com/38Wk9iX.png" alt="single-product">
                                    <img class="second-img" src="https://i.imgur.com/IQUGRcL.png" alt="single-product">
                                </a>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="kiosk-product-content">
                                <p><span class="price">$300.00</span></p>
                                <h4><a href="product.html">Lorem ipsum solet</a></h4>
                                <div class="kiosk-product-action">
                                    <div class="kiosk-action-content">
                                        <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                        <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                        <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->                    
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="kiosk-product-img">
                                <a href="product.html">
                                    <img class="first-img" src="https://i.imgur.com/3g756NK.png" alt="single-product">
                                    <img class="second-img" src="https://i.imgur.com/38Wk9iX.png" alt="single-product">
                                </a>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="kiosk-product-content">
                                <p><span class="price">$330.00</span><del class="prev-price">$362.00</del></p>                               
                                <h4><a href="product.html">Lorem ipsum solet</a></h4>
                                <div class="kiosk-product-action">
                                    <div class="kiosk-action-content">
                                        <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                        <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                        <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                            <span class="sticker-new">-10%</span>
                            <!-- Product Content End -->
                        </div>
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->  
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="kiosk-product-img">
                                <a href="product.html">
                                    <img class="first-img" src="https://i.imgur.com/IQUGRcL.png" alt="single-product">
                                    
                                </a>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="kiosk-product-content">
                                <p><span class="price">$900.00</span></p>                               
                                <h4><a href="product.html">Lorem ipsum solet</a></h4>
                                <div class="kiosk-product-action">
                                    <div class="kiosk-action-content">
                                        <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                        <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                        <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->   
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="kiosk-product-img">
                                <a href="product.html">
                                    <img class="first-img" src="https://i.imgur.com/IQUGRcL.png" alt="single-product">
                                    <img class="second-img" src="https://i.imgur.com/3g756NK.png" alt="single-product">
                                </a>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="kiosk-product-content">
                                <p><span class="price">$430.00</span><del class="prev-price">$432.00</del></p>                               
                                <h4><a href="product.html">Lorem ipsum solet</a></h4>
                                <div class="kiosk-product-action">
                                    <div class="kiosk-action-content">
                                        <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                        <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                        <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                            <span class="sticker-new">sale</span>
                            <!-- Product Content End -->
                        </div>
                    </div>
                    <!-- Single Product End --> 
                    <!-- Single Product Start -->                    
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="kiosk-product-img">
                                <a href="product.html">
                                    <img class="first-img" src="https://i.imgur.com/38Wk9iX.png" alt="single-product">
                                    <img class="second-img" src="https://i.imgur.com/KcuW61Y.png" alt="single-product">
                                </a>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="kiosk-product-content">
                                <p><span class="price">$70.00</span></p>                               
                                <h4><a href="product.html">Lorem ipsum solet</a></h4>
                                <div class="kiosk-product-action">
                                    <div class="kiosk-action-content">
                                        <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                        <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                        <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->                    
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="kiosk-product-img">
                                <a href="product.html">
                                    <img class="first-img" src="https://i.imgur.com/g9BlEhW.png" alt="single-product">
                                    <img class="second-img" src="https://i.imgur.com/KcuW61Y.png"  alt="single-product">
                                </a>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="kiosk-product-content">
                                <p><span class="price">$20.00</span><del class="prev-price">$92.00</del></p>                               
                                <h4><a href="product.html">Lorem ipsum solet</a></h4>
                                <div class="kiosk-product-action">
                                    <div class="kiosk-action-content">
                                        <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                        <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                        <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                            <span class="sticker-new">-20%</span>
                            <!-- Product Content End -->
                        </div>
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->  
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="kiosk-product-img">
                                <a href="product.html">
                                    <img class="first-img" src="https://i.imgur.com/g9BlEhW.png" alt="single-product">
                                    <img class="second-img" src="https://i.imgur.com/38Wk9iX.png" alt="single-product">
                                </a>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="kiosk-product-content">
                                <p><span class="price">$100.00</span></p>                               
                                <h4><a href="product.html">Lorem ipsum solet</a></h4>
                                <div class="kiosk-product-action">
                                    <div class="kiosk-action-content">
                                        <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                        <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                        <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->   
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="kiosk-product-img">
                                <a href="product.html">
                                    <img class="first-img" src="https://i.imgur.com/38Wk9iX.png" alt="single-product">
                                    <img class="second-img" src="https://i.imgur.com/g9BlEhW.png" alt="single-product">
                                </a>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="kiosk-product-content">
                                <p><span class="price">$710.00</span></p>                               
                                <h4><a href="product.html">Lorem ipsum solet</a></h4>
                                <div class="kiosk-product-action">
                                    <div class="kiosk-action-content">
                                        <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                        <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                        <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                            <span class="sticker-new">sale</span>
                            <!-- Product Content End -->
                        </div>
                    </div>
                    <!-- Single Product End -->                    
                </div>
            </div>
        </div> 
        <!-- Parallax Area End -->
       
        <!-- New Products Start -->
        <div class="new-products ptb-70">
            <div class="container">
                <div class="row">
                    <div class="section-title col-lg-12 mb-50">
                        <h2>Our Collections <i class="fa fa-shopping-cart"></i></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 ">
                        <!-- New Pro Content End -->
                        <div class="new-kiosk-product-content">
                            <div class="kiosk-tab-header tab-bg">
                                <!-- Featured Product List Item Start -->
                                <ul class="nav product-list product-tab-list">
                                    <li><a class="active" data-toggle="tab" href="#new-arrival">New Arrivals</a></li>
                                    <li><a data-toggle="tab" href="#toprated">Best Sale</a></li>
                                    <li><a data-toggle="tab" href="#new-arrival">Top Rated</a></li>
                                </ul>
                                <!-- Featured Product List Item End -->
                            </div>
                            <div class="tab-content product-tab-content jump mt-30">
                                <div id="new-arrival" class="tab-pane active">
                                    <!-- New Products Activation Start -->
                                    <div class="kiosk-collection owl-carousel">
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="kiosk-product-img">
                                                <a href="product.html">
                                                    <img class="first-img" src="https://i.imgur.com/ou5zxQZ.png" alt="single-product">
                                                    <img class="second-img" src="https://i.imgur.com/ou5zxQZ.png" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="kiosk-product-content">  
                                                <p><span class="price">$320.00</span></p>             
                                                <h4><a href="product.html">Lorem ipsum solet</a></h4>
                                                <div class="kiosk-product-action">
                                                    <div class="kiosk-action-content">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                        <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                        <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="sticker-new">sale</span>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="kiosk-product-img">
                                                <a href="product.html">
                                                    <img class="first-img" src="https://i.imgur.com/38Wk9iX.png" alt="single-product">
                                                    <img class="second-img" src="https://i.imgur.com/38Wk9iX.png" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="kiosk-product-content">  
                                                <p><span class="price">$370.00</span></p>             
                                                <h4><a href="product.html">Lorem ipsum solet</a></h4>
                                                <div class="kiosk-product-action">
                                                    <div class="kiosk-action-content">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                        <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                        <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="kiosk-product-img">
                                                <a href="product.html">
                                                    <img class="first-img" src="https://i.imgur.com/KcuW61Y.png" alt="single-product">
                                                    <img class="second-img" src="https://i.imgur.com/KcuW61Y.png" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="kiosk-product-content">  
                                                <p><span class="price">$730.00</span><del class="prev-price">$785.00</del></p>             
                                                <h4><a href="product.html">Lorem ipsum solet</a></h4>
                                                <div class="kiosk-product-action">
                                                    <div class="kiosk-action-content">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                        <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                        <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="sticker-new">-30%</span>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="kiosk-product-img">
                                                <a href="product.html">
                                                    <img class="first-img" src="https://i.imgur.com/g9BlEhW.png" alt="single-product">
                                                    <img class="second-img" src="https://i.imgur.com/g9BlEhW.png" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="kiosk-product-content">  
                                                <p><span class="price">$370.00</span></p>             
                                                <h4><a href="product.html">Lorem ipsum solet</a></h4>
                                                <div class="kiosk-product-action">
                                                    <div class="kiosk-action-content">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                        <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                        <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="sticker-new">-10%</span>
                                            <!-- Product Content End -->
                                        </div>                                       
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="kiosk-product-img">
                                                <a href="product.html">
                                                    <img class="first-img" src="https://i.imgur.com/KcuW61Y.png" alt="single-product">
                                                    <img class="second-img" src="https://i.imgur.com/KcuW61Y.png" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="kiosk-product-content">  
                                                <p><span class="price">$130.00</span></p>             
                                                <h4><a href="product.html">Lorem ipsum solet</a></h4>
                                                <div class="kiosk-product-action">
                                                    <div class="kiosk-action-content">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                        <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                        <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="kiosk-product-img">
                                                <a href="product.html">
                                                    <img class="first-img" src="https://i.imgur.com/g9BlEhW.png" alt="single-product">
                                                    <img class="second-img" src="https://i.imgur.com/g9BlEhW.png" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="kiosk-product-content">  
                                                <p><span class="price">$330.00</span><del class="prev-price">$352.00</del></p>             
                                                <h4><a href="product.html">Lorem ipsum solet</a></h4>
                                                <div class="kiosk-product-action">
                                                    <div class="kiosk-action-content">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                        <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                        <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="sticker-new">-30%</span>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                    </div>
                                    <!-- New Products Activation End -->
                                </div>
                                <!-- New Products End -->
                                <div id="toprated" class="tab-pane">
                                    <!-- New Products Activation Start -->
                                    <div class="kiosk-collection owl-carousel">
                                       <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="kiosk-product-img">
                                                <a href="product.html">
                                                    <img class="first-img" src="https://i.imgur.com/g9BlEhW.png" alt="single-product">
                                                    <img class="second-img" src="https://i.imgur.com/g9BlEhW.png" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="kiosk-product-content">  
                                                <p><span class="price">$890.00</span></p>             
                                                <h4><a href="product.html">Lorem ipsum solet</a></h4>
                                                <div class="kiosk-product-action">
                                                    <div class="kiosk-action-content">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                        <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                        <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="sticker-new">-30%</span>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="kiosk-product-img">
                                                <a href="product.html">
                                                    <img class="first-img" src="https://i.imgur.com/g9BlEhW.png" alt="single-product">
                                                    <img class="second-img" src="https://i.imgur.com/g9BlEhW.png" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="kiosk-product-content">  
                                                <p><span class="price">$470.00</span></p>             
                                                <h4><a href="product.html">Lorem ipsum solet</a></h4>
                                                <div class="kiosk-product-action">
                                                    <div class="kiosk-action-content">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                        <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                        <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="sticker-new">-30%</span>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                       <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="kiosk-product-img">
                                                <a href="product.html">
                                                    <img class="first-img" src="https://i.imgur.com/g9BlEhW.png" alt="single-product">
                                                    <img class="second-img" src="https://i.imgur.com/g9BlEhW.png" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="kiosk-product-content">  
                                                <p><span class="price">$310.00</span><del class="prev-price">$312.00</del></p>             
                                                <h4><a href="product.html">Lorem ipsum solet</a></h4>
                                                <div class="kiosk-product-action">
                                                    <div class="kiosk-action-content">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                        <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                        <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="sticker-new">-30%</span>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="kiosk-product-img">
                                                <a href="product.html">
                                                    <img class="first-img" src="https://i.imgur.com/g9BlEhW.png" alt="single-product">
                                                    <img class="second-img" src="https://i.imgur.com/g9BlEhW.png" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="kiosk-product-content">  
                                                <p><span class="price">$30.00</span><del class="prev-price">$32.00</del></p>             
                                                <h4><a href="product.html">Lorem ipsum solet</a></h4>
                                                <div class="kiosk-product-action">
                                                    <div class="kiosk-action-content">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                        <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                        <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="sticker-new">-30%</span>
                                            <!-- Product Content End -->
                                        </div>                                       
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="kiosk-product-img">
                                                <a href="product.html">
                                                    <img class="first-img" src="https://i.imgur.com/g9BlEhW.png" alt="single-product">
                                                    <img class="second-img" src="https://i.imgur.com/g9BlEhW.png" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="kiosk-product-content">  
                                                <p><span class="price">$30.00</span><del class="prev-price">$32.00</del></p>             
                                                <h4><a href="product.html">Lorem ipsum solet</a></h4>
                                                <div class="kiosk-product-action">
                                                    <div class="kiosk-action-content">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                        <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                        <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="sticker-new">-30%</span>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="kiosk-product-img">
                                                <a href="product.html">
                                                    <img class="first-img" src="https://i.imgur.com/g9BlEhW.png" alt="single-product">
                                                    <img class="second-img" src="https://i.imgur.com/g9BlEhW.png" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="kiosk-product-content">  
                                                <p><span class="price">$30.00</span><del class="prev-price">$32.00</del></p>             
                                                <h4><a href="product.html">Lorem ipsum solet</a></h4>
                                                <div class="kiosk-product-action">
                                                    <div class="kiosk-action-content">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                        <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                        <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="sticker-new">-30%</span>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                    </div>
                                    <!-- New Products Activation End -->
                                </div>
                            </div>
                            <!-- Tab-Content End -->
                        </div>
                        <!-- New Pro Content End -->                        
                    </div>
                </div>

            </div>
            <!-- Container End -->
        </div>
        <!-- New Products End -->  
        <!-- purchase area -->
        
       
        <!-- Blog Page End -->
        <!-- newsletter Start -->
       
                              
                            </div>