  <!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
</head>
            <div class="kiosk-header-top">
                <div class="container">
                    <div class="row">
                        <!-- Header Top left Start -->                        
                        <div class="col-lg-6 col-md-12 d-center">
                            <div class="kiosk-header-top-left">
                                <i class="fa fa-phone"></i>Vộc support: (077) 333 1421
                            </div>                        
                        </div>
                        <!-- Header Top Right Start -->                                       
                        <div class="col-lg-6 col-md-12">
                            <div class="kiosk-header-top-right">
                                <div class="search-box-view">
                                    <form action="#">
                                        <input type="text" class="email" placeholder="Search Your Product" name="product">
                                        <button type="submit" class="submit"></button>
                                    </form>
                                </div>
                                <!-- Header-list-menu End -->
                            </div>
                        </div>
                        <!-- Header Top Right End -->
                    </div>
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Top End -->
            <!-- Kiosk Header Bottom Start -->
            <div class="kiosk-header-bottom header-sticky">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-2 col-sm-5 col-5">
                            <div class="logo">
                                <a href="home.html"><img src="https://i.ibb.co/y8c2Cvw/unnamed.png" width="50px"></a>
                            </div>
                        </div>
                      
                        <div class="col-xl-6 col-lg-7 d-none d-lg-block">
                            <div class="kiosk-middle-menu pull-right">
                                <nav>
                                    <ul class="kiosk-middle-menu-list">
                                        <li><a routerLink="/home" routerLinkActive="active">Home</a> <span class="sr-only">(current)</span>
                                    
                                        </li>
                                                                             
                                        <li><a routerLink="/shop" routerLinkActive="active">Shop</a><span class="sr-only">(current)</span>
                                            <!-- Home Version Dropdown Start -->
                                            <ul class="kiosk-dropdown">
                                                <li><a routerLink="/shop" routerLinkActive="active">Shop</a><span class="sr-only">(current)</span>
                                                <li><a routerLink="/cart" routerLinkActive="active">Wishlist Page</a></li><span class="sr-only">(current)</span>
                                                <li><a routerLink="/checkout" routerLinkActive="active">Checkout Page</a></li><span class="sr-only">(current)</span>
                                               
                                                <li><a href="product.html">PProduct details Page</a></li>
                                            </ul>
                                            <!-- Home Version Dropdown End -->
                                        </li>                                        
                                        
                                        <li><a href="/">News</a>
                                         
                                            <!-- Home Version Dropdown End -->
                                        </li>
                                        <li><a routerLink="/about" routerLinkActive="active">About</a></li>  
                                        <!-- <li><a href="contact.html">contact us</a></li> 
                                                                                -->
                                          <li><a routerLink="/login" routerLinkActive="active">Login</a><span class="sr-only">(current)</span>
                                           
                                    </ul>
                                </nav>
                            </div>
                        </div>
    <div class="slider-area kiosk-slider">
            <div class="slider-wrapper theme-default">
                <!-- Slider Background  Image Start-->
                <div id="slider" class="nivoSlider">
                    <a routerLink="/shop"> <img src="https://i.imgur.com/4ohyefQh.jpg" alt="" title="#slider-1-caption1"></a>
                   
                </div>
                <!-- Slider Background  Image Start-->
          
             
        <div class="kiosk-services ptb-70">
            <div class="container">
                <div class="row">
                    <!-- Single Service Start -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-service">
                            <div class="service-content">
                                <i class="fa fa-bus"></i>
                                <h3>Free Shipping</h3>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo blanditiis odio.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Service End -->
                    <!-- Single Service Start -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-service">
                            <div class="service-content">
                                <i class="fa fa-credit-card"></i>
                                <h3>MONEY BACK</h3>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo blanditiis odio.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Service End -->
                    <!-- Single Service Start -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-service">
                            <div class="service-content">
                                <i class="fa fa-phone"></i>
                                <h3>ONLINE SUPPORT</h3>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo blanditiis odio.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Service End -->
                    <!-- Single Service Start -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-service">
                              <div class="service-content">
                                <i class="fa fa-briefcase"></i>
                                <h3>BONUS PLUS</h3>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo blanditiis odio.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Service End -->
                </div>
            </div>
        </div>
        <!-- Service End --> 
        <!-- Product Area Start -->
       
        <!-- Product Area End --> 
        <!-- Product Area Start -->
        <div class="product-area ptb-70">
            <div class="container">
                <div class="row">
                    <div class="section-title col-lg-12">
                        <h2>Featured Products <i class="fa fa-shopping-cart"></i></h2>
                    </div>
                </div>
                <div class="row" >
                                
                    <div class="col-lg-3 col-sm-6" *ngFor="let product of products">
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="kiosk-product-img">
                                <a routerLink="/product/{{product.id}}">
                        <img class="first-img" [src]="product.img" alt="single-product">
                                    <img class="second-img" [src]="product.img" alt="single-product">
                                </a>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="kiosk-product-content">
                                <p><span class="price">${{product.price}}</span></p>
                                <h4><a routerLink="/product/{{product.id}}">{{product.name}}</a></h4>
                                <div class="kiosk-product-action">
                                    <div class="kiosk-action-content">
                                        <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                        <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                        <a routerLink="/product/{{product.id}}" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                    </div>
                     
                </div>
            </div>
        </div> 
        <!-- Parallax Area End -->
       
        <!-- New Products Start -->
        <div class="new-products ptb-70">
            <div class="container">
                <div class="row">
                    <div class="section-title col-lg-12 mb-50">
                        <h2>Our Collections <i class="fa fa-shopping-cart"></i></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 " >
                        <!-- New Pro Content End -->
                        <div class="new-kiosk-product-content">
                            <div class="kiosk-tab-header tab-bg">
                                <!-- Featured Product List Item Start -->
                                <ul class="nav product-list product-tab-list">
                                    <li><a class="active" data-toggle="tab" href="#new-arrival">New Arrivals</a></li>
                                    <li><a data-toggle="tab" href="#toprated">Best Sale</a></li>
                                    <li><a data-toggle="tab" href="#new-arrival">Top Rated</a></li>
                                </ul>
                            </div>
                            <div class="tab-content product-tab-content jump mt-30">
                                <div id="new-arrival" class="tab-pane active">
                                    <!-- New Products Activation Start -->
                                    <div class="kiosk-collection owl-carousel">
                                        <!-- Single Product Start -->
                                        <div class="single-product" *ngFor="let product of products">
                                            <!-- Product Image Start -->
                                            <div class="kiosk-product-img">
                                                <a routerLink="/product/{{product.id}}">
                                                    <img class="first-img" [src]="product.img" alt="single-product">
                                                    <img class="second-img" [src]="product.img" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="kiosk-product-content">  
                                                <p><span class="price">${{product.price}}</span></p>             
                                                <h4><a routerLink="/product/{{product.id}}">{{product.name}}</a></h4>
                                                <div class="kiosk-product-action">
                                                    <div class="kiosk-action-content">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                        <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                        <a routerLink="/product/{{product.id}}" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                        
                                      
                                    </div>
                                 
                                </div>
                                <!-- New Products End -->
                                <div id="toprated" class="tab-pane">
                                    <!-- New Products Activation Start -->
                                    <div class="kiosk-collection owl-carousel">
                                       <!-- Single Product Start -->
                                        <div class="single-product" *ngFor="let product of products">
                                            <!-- Product Image Start -->
                                            <div class="kiosk-product-img">
                                                <a routerLink="/product/{{product.id}}">
                                                    <img class="first-img" [src]="product.img" alt="single-product">
                                                    <img class="second-img" [src]="product.img" alt="single-product">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="kiosk-product-content">  
                                                <p><span class="price">${{product.price}}</span></p>             
                                                <h4><a routerLink="/product/{{product.id}}">{{product.name}}</a></h4>
                                                <div class="kiosk-product-action">
                                                    <div class="kiosk-action-content">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                        <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                        <a routerLink="/product/{{product.id}}" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                      
                                        </div>                                        
                                     
                                    </div>
                                
                                </div>
                            </div>
                        
                        </div>
                                         
                    </div>
                </div>

            </div>
          
        </div>
            </div>
        <!-- Header Area End -->
  <footer class="black-bg">
            <!-- Footer Top Start -->
            <div class="footer-top ptb-60">
                <div class="container">           
                    <div class="row">
                        <!-- Single Footer Start -->
                        <div class="col-lg-4  col-md-4 col-sm-6">
                            <div class="single-footer">
                                <h3>About us</h3>
                                <div class="footer-content">
                                    <p>Lorem ipsum dolor sit, amet cons ectetur adipis icing elit. Nobis expedita dolorem minus eaque cupid itate repud iandae mollitia veritatis sim ilique, cumque arch itecto ectetur ectetur.</p>
                               
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                        <!-- Single Footer Start -->
                        <div class="col-lg-2  col-md-2 col-sm-6 footer-full">
                            <div class="single-footer">
                                <h3 class="footer-title">Quick Link</h3>
                                <div class="footer-content">
                                    <ul class="footer-list">
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Support</a></li>
                                        <li><a href="#">Shop page</a></li>
                                        <li><a href="#">Gallery</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                        <!-- Single Footer Start -->
                        <div class="col-lg-3 col-md-3  col-sm-6 footer-full">
                            <div class="single-footer">
                                <h3 class="footer-title">My Account</h3>
                                <div class="footer-content">
                                    <ul class="footer-list">
                                        <li><a href="account.html">Profile</a></li>
                                        <li><a href="#">Checkout</a></li>
                                        <li><a href="#">Login</a></li>
                                        <li><a href="#">Checkout</a></li>
                                        <li><a href="#">Contact</a></li>
                                        <li><a href="#">Registration</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                        <!-- Single Footer Start -->
                        <div class="col-lg-3 col-md-3 col-sm-6 footer-full">
                            <div class="single-footer margin-sm0">
                                <h3>Contact us</h3>
                                <div class="footer-content">
                                    <div class="kiosk-contact-address">
                                        <span><i class="fa fa-map-marker"></i>Lê Anh Tuấn</span>
                                        <span><i class="fa fa-envelope-o"></i>tuanlaph08659.gmail</span>
                                        <span><i class="fa fa-phone"></i>(077) 333 1421</span>
                                        <span><i class="fa fa-facebook"></i>leanhtuan2000ah.face</span>
                                        <span><i class="fa fa-youtube"></i>
LeAnhTuan FPoly HN.youtube</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Footer Top End -->
            <!-- Footer Bottom Start -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="footer-bottom-content">
                        <p class="copy-right-text">Copyright © <a href="#">kuncan</a> All Rights Reserved.</p>
                        <div class="kiosk-footer-social hidden-content">
                            <ul class="kiosk-footer-list">
                                <li><a href="#"><img src="https://i.imgur.com/CREDKPl.png" alt=""></a></li>
                                <li><a href="#"><img src="https://i.imgur.com/v7p0zbL.png" alt=""></a></li>
                                <li><a href="#"><img src="https://i.imgur.com/fN8Y8bF.png" alt=""></a></li>
                                <li><a href="#"><img src="https://i.imgur.com/Fy5mslu.png" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Container End -->
            </div>
            <!-- Footer Bottom End -->
        </footer>
        <!-- Footer End -->
                    </div>
                     </div>
                      </div>
            </div>
                      </html>